<p class="title">RSS warning</p>
Boxroom gives you the possibility of keeping track of changes in folders via an RSS feed:<br />
<ul>
    <li>Monitor files being uploaded to a folder;</li>
    <li>Keep track of subfolders being created in a folder.</li>
</ul>
WARNING! A PERSONAL access key is used to authorize access to the feeds.<br />
DO NOT SHARE THIS ACCESS KEY! Anyone can see the files and folders in your system if you do.<br />
<br />
<a href="javascript:history.back(-1);">Back</a>