<% form_tag( { :controller => 'search', :action => 'show_results' }, { :style => 'display:inline;' } ) do %>
    <%= text_field 'search', 'query', { :class => 'searchField', :value => @search_query, :size => nil } %>
    <%= submit_tag 'Find!', { :class => 'searchBtn' } %>
<% end %>